PROTOBUF_DIR=../protobuf-2.4.0a
ifeq ($(OS), Windows_NT)
BAT=.bat
EXE=.exe
PATH_SEPARATOR=;
else
PATH_SEPARATOR=:
endif
PROTOC=protoc$(EXE)
COMPC=compc$(EXE)
MXMLC=mxmlc$(EXE)
FDB=fdb$(EXE)
MVN=mvn
JAVAC=javac
JAR=jar
